<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

  <h1>Information fra StressMind</h1>

  <p>
    Til lykke! Din anmodning om at få bevilget et stresshåndteringsforløb med StressMind er netop blevet godkendt.
  </p>

  <p>
    <a href="http://app.stressmind.com/users/sign_in">Klik her for at logge ind.</a>
  </p>

  <p>
    Når du har logget dig ind på StressMind, kan du med det samme begynde at lave dine registreringer. Fra siden vil du have adgang til små artikler om stress og dine hjemmeopgaver. Hjemmeopgaverne får du af din psykolog, når du har lavet registreringer for 7 dage. Du vil også kunne booke en aftale til personlig samtale med din psykolog. 
  </p>

  <p>
    Din psykolog vil følge dig undervejs og vil kommentere dine registreringer en gang om ugen.
  </p>

  <p>
    God fornøjelse! - Og god arbejdslyst!
  </p>

  <p>
    Venlig hilsen<br>
    Mette Bentzen, cand.psych. aut.<br>
    StressMind
  </p>

</body>
</html>