<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

  <h1>Tak for din deltagelse i afprøvning af StressMind.</h1>

  <p>
    Du er velkommen til at logge ind på app.stressmind.com med den email-adresse og det kodeord du har valgt, hvis du ønsker at afprøve funktionerne yderligere.
  </p>
  <p>
  	NB! Husk, at jeg kan se, alt hvad du skriver og registrerer :) Måske sender jeg endda en lille julehilsen! (men der vil ikke være tale om egentlig stressbehandling).
  </p>
  
  <p>God jul! </p>
  <p>
    Venlig hilsen<br>
    Mette Bentzen, cand.psych. aut.<br>
    StressMind
  </p>

</body>
</html>