<div class="col-md-12 invoices">
    <div class="col-md-12 invoice">
        <div class="invoice-header">
            <ul >
                <li class="col-md-2">June</li>
                <li class="col-md-2">31</li>
                <li class="col-md-2">№312131</li>
                <li class="col-md-2">120 EUR</li>
                <li class="col-md-2">Closed</li>
                <li class="col-md-2">4</li>
            </ul>
        </div>
        <div class="invoice-data">
            <table class="table table-striped table-tight">
                <tbody>
                <tr>
                    <td>Line id</td>
                    <td>Client name</td>
                    <td>Treatment duration</td>
                    <td>Amount</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Remark E.M.</td>
                    <td>17.06.2014 - 19.06.2014</td>
                    <td>50 EUR</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Remark E.M.</td>
                    <td>21.06.2014 - 23.06.2014</td>
                    <td>30 EUR</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Remark E.M.</td>
                    <td>11.06.2014 - 13.06.2014</td>
                    <td>40 EUR</td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
     <div class="col-md-12 invoice">
            <div class="invoice-header">
                <ul >
                    <li class="col-md-2">June</li>
                    <li class="col-md-2">20</li>
                    <li class="col-md-2">№312130</li>
                    <li class="col-md-2">100 EUR</li>
                    <li class="col-md-2">Open</li>
                    <li class="col-md-2">4</li>
                </ul>
            </div>
            <div class="invoice-data">
                <table class="table table-striped table-tight">
                    <tbody>
                    <tr>
                        <td>Line id</td>
                        <td>Client name</td>
                        <td>Treatment duration</td>
                        <td>Amount</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Remark E.M.</td>
                        <td>17.06.2014 - 19.06.2014</td>
                        <td>50 EUR</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Remark E.M.</td>
                        <td>21.06.2014 - 23.06.2014</td>
                        <td>30 EUR</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Remark E.M.</td>
                        <td>11.06.2014 - 13.06.2014</td>
                        <td>40 EUR</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
     <div class="col-md-12 invoice">
            <div class="invoice-header">
                <ul >
                    <li class="col-md-2">June</li>
                    <li class="col-md-2">31</li>
                    <li class="col-md-2">№312121</li>
                    <li class="col-md-2">120 EUR</li>
                    <li class="col-md-2">Closed</li>
                    <li class="col-md-2">4</li>
                </ul>
            </div>
            <div class="invoice-data">
                <table class="table table-striped table-tight">
                    <tbody>
                    <tr>
                        <td>Line id</td>
                        <td>Client name</td>
                        <td>Treatment duration</td>
                        <td>Amount</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Remark E.M.</td>
                        <td>17.06.2014 - 19.06.2014</td>
                        <td>50 EUR</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Remark E.M.</td>
                        <td>21.06.2014 - 23.06.2014</td>
                        <td>30 EUR</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Remark E.M.</td>
                        <td>11.06.2014 - 13.06.2014</td>
                        <td>40 EUR</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
</div>
<style>

</style>
<script>
$(".invoice").click(function(){
    var invoiceData = $(this).find(".invoice-data");
    if(!$(invoiceData).hasClass("open")){
        $(".invoice-data").removeClass("open");
        $(invoiceData).addClass("open");
    }else{
        $(".invoice-data").removeClass("open");
    }
});
</script>