

<div class="row">
	<div class="col-md-4">
		<%= render "clients/index/client_info" %>
	</div>

	<div class="col-md-4">
		<%= render "clients/index/stress_tests" %>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<%= render "clients/index/therapist_info" %>
		
	</div>
</div>

<%= render "clients/index/articles" %>