<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

  <h1>Information fra StressMind</h1>
  
  <p>Du har fået en ny klient.</p>

  <p>
  	<a href="http://app.stressmind.com/therapists/sign_in">Klik på dette link for flere oplysninger.</a>
  </p>

  <p>
  	Klienten er startet i dag, og det betyder, at du her især i begyndelsen af forløbet skal holde øje med klientens registreringer og hjælpe lidt på vej, hvis det kniber undervejs.
  </p>

	<p>
		Venlig hilsen<br>
		Mette Bentzen, cand.psych. aut.<br>
		StressMind
	</p>

</body>
</html>