<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

  <h1>Information fra StressMind</h1>
  
  <p>
 	 En medarbejder har netop anmodet om at blive godkendt til et stresshåndteringsforløb i StressMind. Du har nu 48 timer til enten at godkende eller afvise medarbejderens ønske.
  </p>

  <p>
  	Såfremt du ønsker at godkende forløbet (en standardpakke koster kr. 5.950 kr.), skal du <a href="http://app.stressmind.com/managers/sign_in">klikke på dette link</a> og følge vejledningen på skærmen. 
  </p>

  <p>
  	Kan du ikke godkende forløbet, skal du <a href="http://app.stressmind.com/managers/sign_in">klikke på dette link</a> og herefter følge vejledningen på skærmen. Husk i dette tilfælde også at kontakte medarbejderen direkte, så I sammen kan aftale, hvad der skal ske.
  </p>

  <p>
  	Venlig hilsen<br>
		Mette Bentzen, cand.psych. aut.<br>
		StressMind
	</p>

</body>
</html>