
.month-name {
  background-color: #34495e;
  border-radius: 6px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  display: inline-block;
  clear: both;
  overflow: hidden;
  float: left;
  margin-bottom: 20px;
}

.month-name .previous {
  display: inline-block;
  float: left;
  border-right: 2px solid #2c3e50;
  border-left: none;
  border-radius: 6px 0 0 6px;

}
.month-name .previous a, .month-name .next a{
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.313;
  padding: 12px 15px 10px;
  display: block;
  font-weight: bold;
}

.month-name .next {
  display: inline-block;
  float: left;
  border-left: 2px solid #2c3e50;
  border-right: none;
  border-radius: 0px 6px 6px 0px;
}

.month-name .current {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.313;
  padding: 12px 15px 10px;
  vertical-align: middle;
  display: inline-block;
  float: left;
}

.therapist-calendar {
  background-color: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px #aaa;
  box-shadow: 0px 0px 10px #aaa;
  clear: both;
  overflow: hidden;
}
#therapist-calendar{
  border-collapse: collapse;
  width: 100%;
  
}
.therapist-calendar th {
  background-color: #48c9b0;
  color: #fff;
  font-size: 12px;
  font-weight: normal;
  padding: 8px 0;
  text-align: center;
  width: 100px;
}

.therapist-calendar td {
  font-family: "Lucida Grande",arial,helvetica,sans-serif;
  font-size: 10px;
  padding: 6px;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  padding: 0;
  text-align: center;
  vertical-align: top;
  background: #FFF;
  color: #777;
  height: 80px;
  font-size: 13px;
  overflow: hidden;
}

.therapist-calendar td > span {
  display: block;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  background: #CCEBC0;
}

.therapist-calendar td > span.selected{
  background-color: #CCEBC0;
}
.therapist-calendar td.today{
  background-color: #CCEBC0;
}

.therapist-calendar td.not-clickable{
  background-color: #ff6b84;
  color: #fff;
}

.therapist-calendar .notmonth {
  color: #CCC;
}

.therapist-calendar #month {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.therapist-calendar #month a, .therapist-calendar #month a:hover {
  text-decoration: none;
  padding: 0 10px;
  color: #999;
}

.therapist-calendar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  height: auto;
  width: 100%;
  background: #fff;
}

.therapist-calendar li {
  text-align: left;
  font-size: 11px;
  border-bottom: 1px solid #dfdfdf;
  border-top: none;
  cursor: pointer;
  padding: 5px 0 5px 10px;
}

.therapist-calendar li:before{
  content: '\25CF';
  color: #16a085;
  display: inline-block;
  padding-right: 10px;
}
.therapist-calendar li:hover{
  background-color: #d9dbdd;
}

.therapist-calendar li:last-child{
  border: none;
}