<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

  <h1>Skift kodeord</h1>
	  
	<p>Hej</p>

	<p>Du har bedt om at få skiftet dit kodeord til StressMind.com</p>

	<p><%= link_to 'Klik her for at skifte dit kodeord', edit_password_url(@resource, :reset_password_token => @token) %></p>

  <p>
    Venlig hilsen<br>
    Mette Bentzen, cand.psych. aut.<br>
    StressMind
  </p>

</body>
</html>