<div class="page-header">
	<h1>Ny department</h1>
</div>

<div class="row">
	<div class="col-md-6">
		<%= form_for([@company, @department], url: admins_company_departments_path, method: :post) do |f| %>
			<%= render 'admins/companies/departments/form', :f => f %>
		<% end %>
	</div>
</div>
